.profile {
    max-width: 880px;
    min-width: 320px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .profile{
        flex-direction: column;
    }    
}