.popup__heading {
    max-width: 358px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .popup__heading {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    }    
}